body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--neutro-2);
}

h1,
h2,
h3,
h4{
    pointer-events: none; /* desativa todos os eventos do mouse */
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}