.localizacao {
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.localizacao-img {
  padding: 10px 12px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #FFFFFF, #DFDFDF);
  border-radius: 10px;
}

.localizacao-img img {
  height: 50px;
  width: auto;
  aspect-ratio: 46 / 50;

}

.localizacao-text {
  margin: 24px 0px;
}

.localizacao-text h3 {
  padding: 8px 0px;
}

.localizacao-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Laptops médios e tablets paisagem */
@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .localizacao {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .localizacao-img img {
    height: 40px;
    width: auto;
  }

  .localizacao-text {
    margin: 16px 0px;
  }

  .localizacao-text h1 {
    font: 600 2rem/1.5 "League Spartan", sans-serif;
  }

  .localizacao-text h1 span {
    font: 700 2.5rem/1.5 "League Spartan", sans-serif;
  }

  .localizacao-text p {
    font: 200 1rem/1.4 "League Spartan", sans-serif;
  }
}


@media (max-width: 480px) {
  .localizacao-img img {
    height: 30px;
    width: auto;
  }

  .localizacao {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .localizacao-text {
    margin: 12px 0px;
  }

  .localizacao-text h1 {
    font: 600 1.25rem/1.5 "League Spartan", sans-serif;
  }

  .localizacao-text h1 span {
    font: 700 2rem/1.5 "League Spartan", sans-serif;
  }

  .localizacao-text p {
    font: 200 0.75rem/1.4 "League Spartan", sans-serif;
  }

  .localizacao-buttons {
    gap: 4px;
  }

  .localizacao-buttons a:nth-child(2) {
    padding: 5px 10px;
    font: 400 0.875rem/1.4 "League Spartan", sans-serif;
  }
}