.servicos {
  padding: 140px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicos-troca {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.servicos-troca-text {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  /* garante alinhamento à esquerda */
}

.servicos-troca-text h3 {
  max-width: 65%;
}

.servicos-troca-text p {
  max-width: 50ch;
}

.servicos-troca-img {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.servicos-troca-img img {
  width: 100%;
  height: auto;
  max-width: 472px;
}

.servicos-linha {
  width: 80%;
  height: 4px;
  border-radius: 100px;
  background-color: var(--neutro-3);
  margin-block: 80px;
}


.servicos-financiamento {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.servicos-financiamento-text {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
  text-align: end;
  align-items: flex-end;
  /* garante alinhamento à esquerda */
}

.servicos-financiamento-text h2 {
  max-width: 412px;
}

.servicos-financiamento-text p {
  text-align: end;
  max-width: 420px;
}

.servicos-financiamento-img {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.servicos-financiamento-img img {
  width: 100%;
  max-width: 420px;
  height: auto;
}

@media (max-width: 1048px) {
  .servicos {
    padding: 100px 60px;
  }

  .servicos-troca {
    gap: 24px;
  }

  .servicos-troca-text {
    width: 80%;
  }

  .servicos-troca-text h2 {
    font: 400 2rem / 1 "League Spartan", sans-serif;
    max-width: 338px;
  }

  .servicos-troca-text h2 span {
    font: 700 2.25rem / 1.05 "League Spartan", sans-serif;
  }

  .servicos-troca-text p {
    font: 400 1rem / 1.3 "League Spartan", sans-serif;
    max-width: 338px;
  }

  .servicos-troca-img img {
    width: 100%;
    height: auto;
    max-width: 360px;
  }

  .servicos-financiamento {
    gap: 24px;
    width: auto;
  }

  .servicos-financiamento-text {
    width: 75%;
  }

  .servicos-financiamento-text h2 {
    font: 400 2rem / 1 "League Spartan", sans-serif;
    max-width: 338px;
  }

  .servicos-financiamento-text h2 span {
    font: 700 2.25rem / 1.05 "League Spartan", sans-serif;
  }

  .servicos-financiamento-text p {
    font: 400 1rem / 1.3 "League Spartan", sans-serif;
    max-width: 338px;
  }


  .servicos-financiamento-img img {
    width: 100%;
    height: auto;
    max-width: 360px;
  }
}

@media (max-width: 768px) {
  .servicos {
    padding: 60px 40px;
  }

  .servicos-troca {
    flex-direction: column;
    text-align: center;
  }

  .servicos-troca-text {
    width: 100%;
  }

  .servicos-linha {
    margin-block: 50px;
  }

  .servicos-financiamento {
    flex-direction: column-reverse;
    text-align: center;
  }

  .servicos-financiamento-text {
    width: 100%;
    text-align: center;
  }

  .servicos-financiamento-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .servicos-financiamento-img img {
    width: 75%;
  }

  .servicos-financiamento-text p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .servicos {
    padding: 40px 20px;
  }

  .servicos-troca {
    gap: 10px;
  }

  .servicos-troca-text {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .servicos-troca-text h2 {
    font: 400 1.5rem / 1 "League Spartan", sans-serif;
    max-width: 270px;
  }

  .servicos-troca-text h2 span {
    font: 700 1.875rem / 1.05 "League Spartan", sans-serif;
  }

  .servicos-troca-text p {
    font: 400 0.75rem / 1.3 "League Spartan", sans-serif;
    max-width: 338px;
  }

  .servicos-troca-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .servicos-troca-img img {
    max-width: 280px;
  }

  .servicos-linha {
    margin-block: 30px;
    height: 2px;
  }

  .servicos-financiamento {
    gap: 12px;
  }

  .servicos-financiamento-text {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .servicos-financiamento-text h2 {
    font: 400 1.5rem / 1 "League Spartan", sans-serif;
    max-width: 270px;
  }

  .servicos-financiamento-text h2 span {
    font: 700 1.875rem / 1.05 "League Spartan", sans-serif;
  }

  .servicos-financiamento-text p {
    font: 400 0.75rem / 1.3 "League Spartan", sans-serif;
    max-width: 338px;
  }

  .servicos-financiamento-img img {
    max-width: 200px;
  }
}