.carro-bg {
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carro {
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.galeria-container {
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.imagem-destaque {
  width: 570px;
  height: 650px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.imagem-destaque img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* preenche cortando o excesso */
  object-position: center;
  /* mantém o foco central */
  border-radius: 10px;
}

.miniaturas {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.miniaturas img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
}

.miniaturas img:hover,
.miniaturas img.active {
  border-color: var(--destaque-0);
  transform: scale(1.1);
}

.informacoes-container {
  background-color: var(--neutro-0);
  padding: 30px 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.informacoes-container h1 {
  background: var(--gradient-green);
  width: 100%;
  padding-top: 26px;
  padding-bottom: 16px;
  line-height: 0.6;
  border-radius: 10px;
  text-align: center;
}

.informacoes-container h4 {
  max-width: 30ch;
  text-align: center;
}

.informacoes-topicos {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  gap: 10px;
}

.topico {
  display: flex;
  align-items: center;
  background-color: var(--neutro-2);
  padding-top: 10px;
  padding-bottom: 6px;
  padding-inline: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  gap: 8px;
  text-align: center;
}

.topico img {
  width: 22px;
  height: 22px;
  transform: translateY(-2px);
}

.button-comprar {
  padding: 10px 20px;
  background-color: var(--neutro-0);
  border-radius: 10px;
  border: 2px solid var(--neutro-3);
  margin-top: 2px;
  line-height: 1;
  transition: all 0.5s;
}

.button-comprar:hover {
  border-color: var(--destaque-0);
  color: var(--destaque-0);
}

@media (max-width: 1140px) {
  .carro {
    gap: 40px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .galeria-container {
    max-width: 420px;
  }

  .imagem-destaque {
    width: 420px;
    height: 500px;
  }

  .miniaturas {
    gap: 8px;
  }

  .miniaturas img {
    width: 70px;
    height: 55px;
  }

  .informacoes-container {
    padding: 22px 36px;
    gap: 18px;
  }

  .informacoes-container h1 {
    font: 700 2.5rem / 1.1 "League Spartan", sans-serif;
    padding-top: 20px;
    padding-bottom: 11px;
  }

  .informacoes-container h4 {
    font: 500 1rem / 1.2 "League Spartan", sans-serif;
  }

  .informacoes-topicos {
    gap: 6px;
  }

  .topico {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .topico p {
    font: 500 0.875rem / 1.4 "League Spartan", sans-serif;
  }

  .topico img {
    height: 20px;
    width: 20px;
  }

  .button-comprar {
    font: 500 0.875rem / 1.4 "League Spartan", sans-serif;
    padding: 7px 14px;
    border: 1px solid;
  }
}

@media (max-width: 885px) {
  .carro {
    flex-direction: column;
    gap: 32px;
  }

  .galeria-container {
    gap: 12px;
  }
}

@media (max-width: 495px) {
  .carro {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .galeria-container {
    max-width: 340px;
  }

  .imagem-destaque {
    width: 100%;
    height: 360px;
  }

  .informacoes-container {
    padding: 18px 28px;
    box-sizing: border-box;
    width: 326px;
    gap: 12px;
  }

  .informacoes-container h1 {
    font: 700 1.5rem / 1.1 "League Spartan", sans-serif;
    padding-top: 10px;
    padding-bottom: 7px;
  }

  .informacoes-container h4 {
    font: 500 0.75rem / 1.2 "League Spartan", sans-serif;
  }

  .topico {
    padding-top: 7px;
    padding-bottom: 3px;
    border-radius: 6px;
  }

  .topico img {
    height: 14px;
    width: 14px;
  }

  .topico p {
    font: 500 0.62rem / 1.4 "League Spartan", sans-serif;
  }

  .button-comprar {
    font: 500 0.7rem / 1 "League Spartan", sans-serif;
    padding: 6px 12px;
    border-radius: 4px;
  }
}