.contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.contato-img img {
  max-width: 400px;
}

.contato-text {
  width: auto;
  background-color: var(--neutro-0);
  padding: 48px 60px;
  text-align: center;
  border-radius: 10px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contato-text h1 {
  position: relative;
}

.contato-text h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background-color: var(--destaque-0);
  border-radius: 10px;
}

.contato-text h4 {
  max-width: 40ch;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn {
  border: 2px solid var(--destaque-03);
  padding: 4px 8px;
  border-radius: 10px;
  transition: all 0.5s;
}

.btn svg {
  height: 54px;
  width: 54px;
}

.btn path {
  fill: var(--destaque-03);
  transition: all 0.5s;
}

.btn:hover {
  border-color: var(--destaque-0);
  transform: scale(1.05);
}

.btn:hover path {
  fill: var(--destaque-0);
  transform: scale(1.02);
}

@media (max-width: 1180px) {
  .contato-text {
    padding: 38px 52px;
    gap: 24px;
  }

  .contato-text h1 {
    font: 700 2.5rem / 1.1 "League Spartan", sans-serif;
  }

  .contato-text h4 {
    font: 400 1rem / 1.35 "League Spartan", sans-serif;
  }

  .buttons {
    gap: 12px;
  }

  .btn svg {
    height: 42px;
    width: 42px;
  }
}

@media (max-width: 975px) {
  .contato {
    padding-top: 20px;
    padding-bottom: 70px;
    gap: 50px;
    flex-direction: column;
  }

  .contato-img img {
    max-width: 350px;
  }
}

@media (max-width: 575px) {
  .contato {
    padding-top: 0px;
    padding-bottom: 40px;
    gap: 20px;
  }

  .contato-img img {
    max-width: 200px;
  }

  .contato-text {
    padding: 20px 28px;
    gap: 16px;
  }

  .contato-text h1 {
    font: 700 1.75rem / 1.1 "League Spartan", sans-serif;
  }

  .contato-text h4 {
    font: 400 0.75rem / 1.2 "League Spartan", sans-serif;
    max-width: 30ch;
  }

  .buttons {
    gap: 10px;
  }

  .btn {
    border: 1px solid var(--destaque-0);
  }

  .btn svg {
    height: 28px;
    width: 28px;
  }

  .btn path{
    fill: var(--destaque-0);
  }
}