.contato {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.contato-img {
  width: 50%;
}

.contato-img img{
  width: 80%;
}

.contato-text{
  width: 50%;
  background-color: var(--neutro-0);
  padding: 48px 40px;
  text-align: center;
  border-radius: 10px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contato-text h1{
  position: relative;
}

.contato-text h1::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background-color: var(--destaque-0);
  border-radius: 10px;
}

.contato-text h4{
  max-width: 40ch;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn{
  border: 2px solid var(--destaque-03);
  padding: 4px 8px;
  border-radius: 10px;
  transition: all 0.5s;
}

.btn svg{
  height: 54px;
  width: 54px;
}

.btn path{
  fill: var(--destaque-03);
  transition: all 0.5s;
}

.btn:hover {
  border-color: var(--destaque-0);
  transform: scale(1.05);
}

.btn:hover path {
  fill: var(--destaque-0);
  transform: scale(1.02);
}